# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence

*       @federicoaldunate @acollazomayer @manema @doloespalter @lucia-santos @elizabethlofredo
        @tamarasuarezrod
