.menu-left {
  background: #fff;
  flex: 1;
  min-height: 500px;
  padding: 2em;
  text-align: center;
}
.hamburger-menu {
  margin: 0 auto;
  margin-left: -2em;
  width: 20%;
}

.hamburger-menu-btn {
  display: left;
  margin-left: -2em;
}

.intro-description {
  margin: auto;
  max-width: 321px;
  text-align: center;
}
